/*
* Colors
*/
$primary: #4285f4;
$primary-light: #f4f4f8;
$primary-dark: #0c151c;
$secondary: #ff7675;
$gray900: #1b1d1f;
$gray600: #26282b;
$gray500: #73787e;
$gray400: #9fa4a9;
$gray200: #cacdd2;
$gray100: #e9ebed;
$gray80: #f3f3f3;
$gray50: #f7f8f9;
