@font-face {
  font-family: "bold";
  font-weight: 700;
  src: local("SpoqaHanSansBold"),
    url("/fonts/SpoqaHanSansBold.woff2") format("woff2"),
    url("/fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff"),
    url("/fonts/SpoqaHanSans/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "medium";
  font-weight: 500;
  src: local("SpoqaHanSansMedium"),
    url("/fonts/SpoqaHanSansMedium.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansMedium.woff") format("woff"),
    url("/fonts/SpoqaHanSansMedium.ttf") format("truetype");
}

@font-face {
  font-family: "regular";
  font-weight: 400;
  src: local("SpoqaHanSansRegular"),
    url("/fonts/SpoqaHanSansRegular.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansRegular.woff2.woff") format("woff"),
    url("/fonts/SpoqaHanSansRegular.woff2.ttf") format("truetype");
}

@font-face {
  font-family: "light";
  font-weight: 300;
  src: local("SpoqaHanSansLight"),
    url("/fonts/SpoqaHanSansLight.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansLight.woff") format("woff"),
    url("/fonts/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "thin";
  font-weight: 100;
  src: local("SpoqaHanSansThin"),
    url("/fonts/SpoqaHanSansThin.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansThin.woff") format("woff"),
    url("/fonts/SpoqaHanSansThin.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "regular";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
